.grid {
    // font-size: 0;
}

.grid--center {
    text-align: center;
}

.grid__item {
    // @include sg-text;
}

.grid--full-height, .grid__item--full-height {
    height: 100%;
}

.lt-ie8 {
     .grid {
        .grid__item {
            padding: 0;
        }

        .grid-padding {
            padding-left: $gutter;
        }
    }

    .grid--full {
        .grid-padding {
            padding: 0;
        }
    }

    .grid--wide {
        .grid-padding {
            padding-left: $gutter*2;
        }
    }
}
